.bleu {
  background-color: black;
}

main {
  min-height: 100vh;
  background-color: white;
}

article {
  min-height: 500px;
  border: 1px solid black;
  padding: 5vh 0;
}

.format {
  width: 60%;
  margin: auto;
  background-color: black;
  min-height: 400px;
  color: white;
}

.fa-linkedin,
.fa-facebook,
.fa-twitter,
.fa-instagram{
font-size: 25px;
}


.fa-linkedin {
  color: #0077b5;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00acee;
}

.fa-instagram {
  color: #8a3ab9, #4c68d7, #cd486b;
}
